name: CI - HotelManager

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore packages
      run: dotnet restore HotelManager.sln

    - name: Build solution
      run: dotnet build HotelManager.sln --configuration Release --no-restore

    - name: Run Tests
      run: dotnet test HotelManager.Tests/HotelManager.Tests.csproj --configuration Release --no-build --verbosity normal
